.TodoSearch {
  height: 38px;
  text-align: center;
  margin: 0 24px;
  width: calc(100% -  64px);
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  font-size: 18px;
  border-radius: 8px;
  background-color: #385170;
  color: #ececec;
  font-weight: bold;
  
}

.TodoSearch::placeholder{
  color: #ececec;
  font-weight: bold;
  opacity: 50%;
}

.TodoSearch:disabled{
  opacity: 20%;
}
